In [13]:
import pandas as pd
import numpy as np
from pymongo import MongoClient
import os
from pymongo.errors import BulkWriteError

In [15]:
path = "Population_Datasets/"
pop_sets = ["Brazilpop", "Canadapop", "Francepop", "GBpop", "Germanypop", "Italypop", "Norwaypop", "Netherlandspop", "Singaporepop", "Spainpop", "Swedenpop", "Switzerlandpop", "USpop"]
all_df = []
for pop in pop_sets:
    filename = path+pop+".xlsx"
    city = pd.read_excel(filename)
    all_df.append(city)
    #df.append(pd.DataFrame(cities.Element.str.split(',').tolist(), columns = ['Code','Name', 'State/Country', 'Country']))
# all_files = glob.glob(os.path.join(path, "*.csv"))
# all_df = []
# for f in all_files:
#     df = pd.read_csv(f, sep=',')
#     df['file'] = f.split('/')[-1]
#     all_df.append(df)
    
population_df = pd.concat(all_df, ignore_index=True, sort=True)

In [16]:
print(population_df)

                           City  Population
0                     Suçuarana         NaN
1                  Pontes Altas         NaN
2       São Pedro de Itabapoana         NaN
3                     São Roque         NaN
4                        Sereno         NaN
...                         ...         ...
452252                Seabreeze         NaN
452253                 Kapaeloa         NaN
452254                   Digbey         NaN
452255             Breckinridge         NaN
452256                    Boise    228790.0

[452257 rows x 2 columns]

In [17]:
# Drop rows with any NaN in the selected columns only
mod_population_df = population_df.dropna(how='all', subset=['Population'])

In [18]:
print(mod_population_df)

                      City  Population
8                    Arcos     33356.0
11              Seropédica     54846.0
21      Rio Pardo de Minas      9540.0
34          Demerval Lobão     15285.0
43                Imbituba     43450.0
...                    ...         ...
452028          Evansville    115474.0
452065            Angleton     18856.0
452101           Marquette     20831.0
452251   North Druid Hills     21320.0
452256               Boise    228790.0

[13119 rows x 2 columns]

We have the population table of a lot of cities. Now we need to cross reference the location list to see which values we want to extract for MongoDB.

In [19]:
city_meta_df = data = pd.read_csv('city_locations.txt', sep=",", header=None)
city_meta_df.columns = ["location_id", "city", "state/country", "country"]
print(city_meta_df)

   location_id           city state/country country
0          HOU        Houston            TX      US
1          MIA          Miami            FL      US
2          STL      St. Louis            MO      US
3          SFO  San Francisco            CA      US
4          HNL       Honolulu            HI      US
..         ...            ...           ...     ...
95         OSL           Oslo           NOR     NOR
96         MXP          Milan           ITA     ITA
97         FCO           Rome           ITA     ITA
98         SJU       San Juan           PRI     PRI
99         SIN      Singapore           SGP     SGP

[100 rows x 4 columns]

In [20]:
# population_row = mod_population_df.loc[mod_population_df['City'] == "Houston"]
# population_row = population_row[population_row['Population']==population_row['Population'].max()]
# print(population_row['Population'])
# print(population_row.iloc[0]['Population'])
city_meta_df['Population'] = 0
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(city_meta_df)

   location_id              city state/country country  Population
0          HOU           Houston            TX      US           0
1          MIA             Miami            FL      US           0
2          STL         St. Louis            MO      US           0
3          SFO     San Francisco            CA      US           0
4          HNL          Honolulu            HI      US           0
5          PDX          Portland            OR      US           0
6          DEN            Denver            CO      US           0
7          MSP       Minneapolis            MN      US           0
8          SAN         San Diego            CA      US           0
9          SAT       San Antonio            TX      US           0
10         SEA           Seattle            WA      US           0
11         LAS         Las Vegas            NV      US           0
12         PHL      Philadelphia            PA      US           0
13         DFW            Dallas            TX      US           0
14         LAX       Los Angeles            CA      US           0
15         ATL           Atlanta            GA      US           0
16         CHI           Chicago            IL      US           0
17         NYC     New York City            NY      US           0
18         SAV          Savannah            GA      US           0
19         SDF        Louisville            KY      US           0
20         ORL           Orlando            FL      US           0
21         AUS            Austin            TX      US           0
22         BWI         Baltimore            MD      US           0
23         COS  Colorado Springs            CO      US           0
24         BOI             Boise            ID      US           0
25         DTT           Detroit            MI      US           0
26         BOS            Boston            MA      US           0
27         HVN         New Haven            CT      US           0
28         MSY       New Orleans            LA      US           0
29         PHX           Phoenix            AZ      US           0
30         SLC    Salt Lake City            UT      US           0
31         WAS     Washington DC            US      US           0
32         OAK           Oakland            CA      US           0
33         TPA         Tampa Bay            FL      US           0
34         PIT        Pittsburgh            PA      US           0
35         MKC       Kansas City            MO      US           0
36         MKE         Milwaukee            WI      US           0
37         CLE         Cleveland            OH      US           0
38         LUK        Cincinnati            OH      US           0
39         BNA         Nashville            TN      US           0
40         MEM           Memphis            TN      US           0
41         ANC         Anchorage            AL      US           0
42         OKC     Oklahoma City            OK      US           0
43         SJC          San Jose            CA      US           0
44         JAX      Jacksonville            FL      US           0
45         CLT         Charlotte            NC      US           0
46         YTO           Toronto            CA      CA           0
47         YVR         Vancouver            CA      CA           0
48         YMQ          Montreal            CA      CA           0
49         YOW            Ottawa            CA      CA           0
50         YYC           Calgary            CA      CA           0
51         YEG          Edmonton            CA      CA           0
52         YHZ           Halifax            CA      CA           0
53         SAC        Sacramento            CA      US           0
54         RIC          Richmond            VA      US           0
55         ABQ       Albuquerque            NM      US           0
56         SAF          Santa Fe            NM      US           0
57         ELP           El Paso            TX      US           0
58         OMA             Omaha            NE      US           0
59         EWR            Newark            NJ      US           0
60         PCT         Princeton            NJ      US           0
61         FLL   Fort Lauderdale            FL      US           0
62         RNO              Reno            NV      US           0
63         BUF           Buffalo            NY      US           0
64         IND      Indianapolis            IN      US           0
65         BMG       Bloomington            IN      US           0
66         JHM           Lahaina            HI      US           0
67         LIT       Little Rock            AR      US           0
68         MSN           Madison            WI      US           0
69         FAT            Fresno            CA      US           0
70         RDU           Raleigh            NC      US           0
71         LHR            London           ENG     ENG           0
72         BFS           Belfast           IRE     IRE           0
73         ESH          Brighton           ENG     ENG           0
74         BRS           Bristol           ENG     ENG           0
75         CWL           Cardiff           WLS     WLS           0
76         EDI         Edinburgh           SCT     SCT           0
77         GLA           Glasgow           SCT     SCT           0
78         LBA             Leeds           ENG     ENG           0
79         LPL         Liverpool           ENG     ENG           0
80         MAN        Manchester           ENG     ENG           0
81         CDG             Paris           FRA     FRA           0
82         MRS         Marseille           FRA     FRA           0
83         TXL            Berlin           DEU     DEU           0
84         FRA         Frankfurt           DEU     DEU           0
85         HAM           Hamburg           DEU     DEU           0
86         DUB            Dublin           IRE     IRE           0
87         MAD            Madrid           ESP     ESP           0
88         BCN         Barcelona           ESP     ESP           0
89         AMS         Amsterdam           NLD     NLD           0
90         VCE            Venice           ITA     ITA           0
91         ARN         Stockholm           SWE     SWE           0
92         ZRH            Zurich           CHE     CHE           0
93         SDU    Rio de Janeiro           BRA     BRA           0
94         GRU         São Paulo           BRA     BRA           0
95         OSL              Oslo           NOR     NOR           0
96         MXP             Milan           ITA     ITA           0
97         FCO              Rome           ITA     ITA           0
98         SJU          San Juan           PRI     PRI           0
99         SIN         Singapore           SGP     SGP           0

In [23]:
for index, row in city_meta_df.iterrows():
    city_name = row['city']
    population_row = mod_population_df.loc[mod_population_df['City'] == city_name]
    population_row = population_row[population_row['Population']==population_row['Population'].max()]
    #print(population_row)
    city_meta_df.iloc[index, city_meta_df.columns.get_loc('Population')] = population_row.iloc[0]['Population']

In [24]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(city_meta_df)

   location_id              city state/country country  Population
0          HOU           Houston            TX      US   2027712.0
1          MIA             Miami            FL      US    382894.0
2          STL         St. Louis            MO      US    320916.0
3          SFO     San Francisco            CA      US    732072.0
4          HNL          Honolulu            HI      US    384241.0
5          PDX          Portland            OR      US    540513.0
6          DEN            Denver            CO      US    555981.0
7          MSP       Minneapolis            MN      US    367773.0
8          SAN         San Diego            CA      US   1287050.0
9          SAT       San Antonio            TX      US   1256810.0
10         SEA           Seattle            WA      US    569369.0
11         LAS         Las Vegas            NV      US    540111.0
12         PHL      Philadelphia            PA      US   1453268.0
13         DFW            Dallas            TX      US   1211704.0
14         LAX       Los Angeles            CA      US   3877129.0
15         ATL           Atlanta            GA      US    422908.0
16         CHI           Chicago            IL      US   2841952.0
17         NYC     New York City            NY      US   8107916.0
18         SAV          Savannah            GA      US    126119.0
19         SDF        Louisville            KY      US    243639.0
20         ORL           Orlando            FL      US    207970.0
21         AUS            Austin            TX      US    678368.0
22         BWI         Baltimore            MD      US    610892.0
23         COS  Colorado Springs            CO      US    373072.0
24         BOI             Boise            ID      US    228790.0
25         DTT           Detroit            MI      US    884941.0
26         BOS            Boston            MA      US    571281.0
27         HVN         New Haven            CT      US    124922.0
28         MSY       New Orleans            LA      US    459336.0
29         PHX           Phoenix            AZ      US   1428509.0
30         SLC    Salt Lake City            UT      US    178026.0
31         WAS     Washington DC            US      US    702433.0
32         OAK           Oakland            CA      US    394579.0
33         TPA         Tampa Bay            FL      US    324465.0
34         PIT        Pittsburgh            PA      US    319494.0
35         MKC       Kansas City            MO      US    442028.0
36         MKE         Milwaukee            WI      US    579180.0
37         CLE         Cleveland            OH      US    449514.0
38         LUK        Cincinnati            OH      US    306382.0
39         BNA         Nashville            TN      US    530852.0
40         MEM           Memphis            TN      US    641608.0
41         ANC         Anchorage            AL      US    276263.0
42         OKC     Oklahoma City            OK      US    532950.0
43         SJC          San Jose            CA      US    897460.0
44         JAX      Jacksonville            FL      US    797557.0
45         CLT         Charlotte            NC      US    598351.0
46         YTO           Toronto            CA      CA   4612187.0
47         YVR         Vancouver            CA      CA   1837970.0
48         YMQ          Montreal            CA      CA   3268513.0
49         YOW            Ottawa            CA      CA    874433.0
50         YYC           Calgary            CA      CA    968475.0
51         YEG          Edmonton            CA      CA    822319.0
52         YHZ           Halifax            CA      CA    266012.0
53         SAC        Sacramento            CA      US    467898.0
54         RIC          Richmond            VA      US    190886.0
55         ABQ       Albuquerque            NM      US    487378.0
56         SAF          Santa Fe            NM      US     69205.0
57         ELP           El Paso            TX      US    597181.0
58         OMA             Omaha            NE      US    413487.0
59         EWR            Newark            NJ      US    280123.0
60         PCT         Princeton            NJ      US     12945.0
61         FLL   Fort Lauderdale            FL      US    170510.0
62         RNO              Reno            NV      US    202142.0
63         BUF           Buffalo            NY      US    279557.0
64         IND      Indianapolis            IN      US    773283.0
65         BMG       Bloomington            IN      US     81383.0
66         JHM           Lahaina            HI      US      9319.0
67         LIT       Little Rock            AR      US    184217.0
68         MSN           Madison            WI      US    224625.0
69         FAT            Fresno            CA      US    465183.0
70         RDU           Raleigh            NC      US    338759.0
71         LHR            London           ENG     ENG   7421228.0
72         BFS           Belfast           IRE     IRE    585994.0
73         ESH          Brighton           ENG     ENG    139001.0
74         BRS           Bristol           ENG     ENG    430714.0
75         CWL           Cardiff           WLS     WLS    302142.0
76         EDI         Edinburgh           SCT     SCT    435794.0
77         GLA           Glasgow           SCT     SCT    610271.0
78         LBA             Leeds           ENG     ENG    455124.0
79         LPL         Liverpool           ENG     ENG    468946.0
80         MAN        Manchester           ENG     ENG    395516.0
81         CDG             Paris           FRA     FRA   2110694.0
82         MRS         Marseille           FRA     FRA    792823.0
83         TXL            Berlin           DEU     DEU   3398362.0
84         FRA         Frankfurt           DEU     DEU    648034.0
85         HAM           Hamburg           DEU     DEU   1733846.0
86         DUB            Dublin           IRE     IRE     38805.0
87         MAD            Madrid           ESP     ESP   3102644.0
88         BCN         Barcelona           ESP     ESP   1570378.0
89         AMS         Amsterdam           NLD     NLD    745811.0
90         VCE            Venice           ITA     ITA    259126.0
91         ARN         Stockholm           SWE     SWE   1253309.0
92         ZRH            Zurich           CHE     CHE    346185.0
93         SDU    Rio de Janeiro           BRA     BRA   6023742.0
94         GRU         São Paulo           BRA     BRA  10021437.0
95         OSL              Oslo           NOR     NOR    808690.0
96         MXP             Milan           ITA     ITA   1156903.0
97         FCO              Rome           ITA     ITA   2643736.0
98         SJU          San Juan           PRI     PRI    418140.0
99         SIN         Singapore           SGP     SGP   3547809.0

In [25]:
city_meta_df.to_csv('mongoDB_population.csv', index=False)

In [29]:
mongo = MongoClient()
mongo_client = MongoClient('mongodb+srv://dbUser:adDJJ0ZG6O7VDdMz@softwarelabapp-hbwi6.mongodb.net/test?retryWrites=true&w=majority')
db = mongo_client.models
populations = db.populations
populations.delete_many({})

In [30]:
df = pd.read_csv("mongoDB_population.csv") #csv file which you want to import
records_ = df.to_dict(orient = 'records')
result = db.populations.insert_many(records_ )