In [25]:
import pandas as pd
import numpy as np
from pymongo import MongoClient
import os
from pymongo.errors import BulkWriteError

In [26]:
path = "Population_Datasets/"
pop_sets = ["Brazilpop", "Canadapop", "Francepop", "GBpop", "Germanypop", "Irelandpop", "Italypop", "Norwaypop", "Netherlandspop", "Singaporepop", "Spainpop", "Swedenpop", "Switzerlandpop", "USpop"]
all_df = []
for pop in pop_sets:
    filename = path+pop+".xlsx"
    city = pd.read_excel(filename)
    all_df.append(city)   
population_df = pd.concat(all_df, ignore_index=True, sort=True)

In [27]:
print(population_df)

                           City  Population
0                     Suçuarana         NaN
1                  Pontes Altas         NaN
2       São Pedro de Itabapoana         NaN
3                     São Roque         NaN
4                        Sereno         NaN
...                         ...         ...
461433                 Kapaeloa         NaN
461434                   Digbey         NaN
461435             Breckinridge         NaN
461436                    Boise    228790.0
461437                   Tucson    545975.0

[461438 rows x 2 columns]

In [28]:
# Drop rows with any NaN in the selected columns only
mod_population_df = population_df.dropna(how='all', subset=['Population'])

In [29]:
print(mod_population_df)

                      City  Population
8                    Arcos     33356.0
11              Seropédica     54846.0
21      Rio Pardo de Minas      9540.0
34          Demerval Lobão     15285.0
43                Imbituba     43450.0
...                    ...         ...
461245            Angleton     18856.0
461281           Marquette     20831.0
461431   North Druid Hills     21320.0
461436               Boise    228790.0
461437              Tucson    545975.0

[13277 rows x 2 columns]

We have the population table of a lot of cities. Now we need to cross reference the location list to see which values we want to extract for MongoDB.

In [30]:
city_meta_df = data = pd.read_csv('city_locations.txt', sep=",", header=None)
city_meta_df.columns = ["location_id", "city", "state/country", "country"]
print(city_meta_df)

    location_id           city state/country country
0           HOU        Houston            TX      US
1           MIA          Miami            FL      US
2           STL      St. Louis            MO      US
3           SFO  San Francisco            CA      US
4           HNL       Honolulu            HI      US
..          ...            ...           ...     ...
145         DUS     Düsseldorf           DEU     DEU
146         BRE         Bremen           DEU     DEU
147         GVA         Geneva           CHE     CHE
148         BRN           Bern           CHE     CHE
149         TUS         Tucson           ARI      US

[150 rows x 4 columns]

In [31]:
city_meta_df['Population'] = 0
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(city_meta_df)

    location_id              city state/country country  Population
0           HOU           Houston            TX      US           0
1           MIA             Miami            FL      US           0
2           STL         St. Louis            MO      US           0
3           SFO     San Francisco            CA      US           0
4           HNL          Honolulu            HI      US           0
5           PDX          Portland            OR      US           0
6           DEN            Denver            CO      US           0
7           MSP       Minneapolis            MN      US           0
8           SAN         San Diego            CA      US           0
9           SAT       San Antonio            TX      US           0
10          SEA           Seattle            WA      US           0
11          LAS         Las Vegas            NV      US           0
12          PHL      Philadelphia            PA      US           0
13          DFW            Dallas            TX      US           0
14          LAX       Los Angeles            CA      US           0
15          ATL           Atlanta            GA      US           0
16          CHI           Chicago            IL      US           0
17          NYC     New York City            NY      US           0
18          SAV          Savannah            GA      US           0
19          SDF        Louisville            KY      US           0
20          ORL           Orlando            FL      US           0
21          AUS            Austin            TX      US           0
22          BWI         Baltimore            MD      US           0
23          COS  Colorado Springs            CO      US           0
24          BOI             Boise            ID      US           0
25          DTT           Detroit            MI      US           0
26          BOS            Boston            MA      US           0
27          HVN         New Haven            CT      US           0
28          MSY       New Orleans            LA      US           0
29          PHX           Phoenix            AZ      US           0
30          SLC    Salt Lake City            UT      US           0
31          WAS     Washington DC            US      US           0
32          OAK           Oakland            CA      US           0
33          TPA         Tampa Bay            FL      US           0
34          PIT        Pittsburgh            PA      US           0
35          MKC       Kansas City            MO      US           0
36          MKE         Milwaukee            WI      US           0
37          CLE         Cleveland            OH      US           0
38          LUK        Cincinnati            OH      US           0
39          BNA         Nashville            TN      US           0
40          MEM           Memphis            TN      US           0
41          ANC         Anchorage            AL      US           0
42          OKC     Oklahoma City            OK      US           0
43          SJC          San Jose            CA      US           0
44          JAX      Jacksonville            FL      US           0
45          CLT         Charlotte            NC      US           0
46          YTO           Toronto            CA      CA           0
47          YVR         Vancouver            CA      CA           0
48          YMQ          Montreal            CA      CA           0
49          YOW            Ottawa            CA      CA           0
50          YYC           Calgary            CA      CA           0
51          YEG          Edmonton            CA      CA           0
52          YHZ           Halifax            CA      CA           0
53          SAC        Sacramento            CA      US           0
54          RIC          Richmond            VA      US           0
55          ABQ       Albuquerque            NM      US           0
56          SAF          Santa Fe            NM      US           0
57          ELP           El Paso            TX      US           0
58          OMA             Omaha            NE      US           0
59          EWR            Newark            NJ      US           0
60          PCT         Princeton            NJ      US           0
61          FLL   Fort Lauderdale            FL      US           0
62          RNO              Reno            NV      US           0
63          BUF           Buffalo            NY      US           0
64          IND      Indianapolis            IN      US           0
65          BMG       Bloomington            IN      US           0
66          JHM           Lahaina            HI      US           0
67          LIT       Little Rock            AR      US           0
68          MSN           Madison            WI      US           0
69          FAT            Fresno            CA      US           0
70          RDU           Raleigh            NC      US           0
71          LHR            London           ENG     ENG           0
72          BFS           Belfast           IRE     IRE           0
73          ESH          Brighton           ENG     ENG           0
74          BRS           Bristol           ENG     ENG           0
75          CWL           Cardiff           WLS     WLS           0
76          EDI         Edinburgh           SCT     SCT           0
77          GLA           Glasgow           SCT     SCT           0
78          LBA             Leeds           ENG     ENG           0
79          LPL         Liverpool           ENG     ENG           0
80          MAN        Manchester           ENG     ENG           0
81          CDG             Paris           FRA     FRA           0
82          MRS         Marseille           FRA     FRA           0
83          TXL            Berlin           DEU     DEU           0
84          FRA         Frankfurt           DEU     DEU           0
85          HAM           Hamburg           DEU     DEU           0
86          DUB            Dublin           IRE     IRE           0
87          MAD            Madrid           ESP     ESP           0
88          BCN         Barcelona           ESP     ESP           0
89          AMS         Amsterdam           NLD     NLD           0
90          VCE            Venice           ITA     ITA           0
91          ARN         Stockholm           SWE     SWE           0
92          ZRH            Zurich           CHE     CHE           0
93          SDU    Rio de Janeiro           BRA     BRA           0
94          GRU         São Paulo           BRA     BRA           0
95          OSL              Oslo           NOR     NOR           0
96          MXP             Milan           ITA     ITA           0
97          FCO              Rome           ITA     ITA           0
98          SJU          San Juan           PRI     PRI           0
99          SIN         Singapore           SGP     SGP           0
100         PVD        Providence            RI      US           0
101         HLN            Helena            MT      US           0
102         ILG             Dover            DE      US           0
103         CHS        Charleston            SC      US           0
104         BTV        Burlington            VT      US           0
105         CYS          Cheyenne            WY      US           0
106         BDL          Hartford            CT      US           0
107         BHM        Birmingham            AL      US           0
108         FAR             Fargo            ND      US           0
109         CMH          Columbus            OH      US           0
110         APC              Napa            CA      US           0
111         IOW         Iowa City            IA      US           0
112         NCE              Nice           FRA     FRA           0
113         LTT      Saint-Tropez           FRA     FRA           0
114         MPL       Montpellier           FRA     FRA           0
115         MUC            Munich           DEU     DEU           0
116         TRN             Turin           ITA     ITA           0
117         FLR          Florence           ITA     ITA           0
118         NAP            Naples           ITA     ITA           0
119         PMO           Palermo           ITA     ITA           0
120         GOA             Genoa           ITA     ITA           0
121         BLQ           Bologna           ITA     ITA           0
122         BRI              Bari           ITA     ITA           0
123         CTA           Catania           ITA     ITA           0
124         ORK              Cork           IRE     IRE           0
125         SVQ           Seville           ESP     ESP           0
126         ZAZ          Zaragoza           ESP     ESP           0
127         LPA        Las Palmas           ESP     ESP           0
128         BIO            Bilbao           ESP     ESP           0
129         NCL         Newcastle           ENG     ENG           0
130         GOT        Gothenburg           SWE     SWE           0
131         EIN         Eindhoven           NLD     NLD           0
132         LYS              Lyon           FRA     FRA           0
133         TLS          Toulouse           FRA     FRA           0
134         SXB        Strasbourg           FRA     FRA           0
135         BOD          Bordeaux           FRA     FRA           0
136         NTE            Nantes           FRA     FRA           0
137         LIL             Lille           FRA     FRA           0
138         RNS            Rennes           FRA     FRA           0
139         BSB          Brasília           BRA     BRA           0
140         VLC          Valencia           ESP     ESP           0
141         CGN           Cologne           DEU     DEU           0
142         NUE         Nuremberg           DEU     DEU           0
143         DTM          Dortmund           DEU     DEU           0
144         STR         Stuttgart           DEU     DEU           0
145         DUS        Düsseldorf           DEU     DEU           0
146         BRE            Bremen           DEU     DEU           0
147         GVA            Geneva           CHE     CHE           0
148         BRN              Bern           CHE     CHE           0
149         TUS            Tucson           ARI      US           0

In [32]:
for index, row in city_meta_df.iterrows():
    city_name = row['city']
    population_row = mod_population_df.loc[mod_population_df['City'] == city_name]
    population_row = population_row[population_row['Population']==population_row['Population'].max()]
    print(population_row)
    print(index)
    city_meta_df.iloc[index, city_meta_df.columns.get_loc('Population')] = population_row.iloc[0]['Population']

           City  Population
396883  Houston   2027712.0
0
         City  Population
350672  Miami    382894.0
1
             City  Population
369769  St. Louis    320916.0
2
                 City  Population
399695  San Francisco    732072.0
3
            City  Population
355457  Honolulu    384241.0
4
            City  Population
380150  Portland    540513.0
5
          City  Population
339086  Denver    555981.0
6
               City  Population
372485  Minneapolis    367773.0
7
             City  Population
455239  San Diego   1287050.0
8
               City  Population
410838  San Antonio   1256810.0
9
           City  Population
446087  Seattle    569369.0
10
             City  Population
371778  Las Vegas    540111.0
11
                City  Population
321557  Philadelphia   1453268.0
12
          City  Population
368991  Dallas   1211704.0
13
               City  Population
417907  Los Angeles   3877129.0
14
           City  Population
419241  Atlanta    422908.0
15
           City  Population
343628  Chicago   2841952.0
16
                 City  Population
400089  New York City   8107916.0
17
            City  Population
433465  Savannah    126119.0
18
              City  Population
415129  Louisville    243639.0
19
           City  Population
341504  Orlando    207970.0
20
          City  Population
452008  Austin    678368.0
21
             City  Population
403892  Baltimore    610892.0
22
                    City  Population
373901  Colorado Springs    373072.0
23
         City  Population
461436  Boise    228790.0
24
           City  Population
328290  Detroit    884941.0
25
          City  Population
368423  Boston    571281.0
26
             City  Population
425128  New Haven    124922.0
27
               City  Population
460593  New Orleans    459336.0
28
           City  Population
437305  Phoenix   1428509.0
29
                  City  Population
455039  Salt Lake City    178026.0
30
                 City  Population
454705  Washington DC    702433.0
31
           City  Population
401248  Oakland    394579.0
32
             City  Population
339549  Tampa Bay    324465.0
33
              City  Population
363554  Pittsburgh    319494.0
34
               City  Population
386279  Kansas City    442028.0
440882  Kansas City    442028.0
35
             City  Population
433316  Milwaukee    579180.0
36
             City  Population
377711  Cleveland    449514.0
37
              City  Population
337785  Cincinnati    306382.0
38
             City  Population
401074  Nashville    530852.0
39
           City  Population
365336  Memphis    641608.0
40
             City  Population
323690  Anchorage    276263.0
41
                 City  Population
357627  Oklahoma City    532950.0
42
            City  Population
377716  San Jose    897460.0
43
                City  Population
442378  Jacksonville    797557.0
44
             City  Population
349832  Charlotte    598351.0
45
          City  Population
44411  Toronto   4612187.0
46
            City  Population
43505  Vancouver   1837970.0
47
           City  Population
45762  Montreal   3268513.0
48
         City  Population
44554  Ottawa    874433.0
49
          City  Population
43554  Calgary    968475.0
50
           City  Population
46671  Edmonton    822319.0
51
          City  Population
46024  Halifax    266012.0
52
              City  Population
359103  Sacramento    467898.0
53
            City  Population
436695  Richmond    190886.0
54
               City  Population
354418  Albuquerque    487378.0
55
            City  Population
458365  Santa Fe     69205.0
56
           City  Population
420907  El Paso    597181.0
57
         City  Population
341723  Omaha    413487.0
58
          City  Population
345382  Newark    280123.0
59
             City  Population
453384  Princeton     12945.0
60
                   City  Population
454875  Fort Lauderdale    170510.0
61
        City  Population
364287  Reno    202142.0
62
           City  Population
378202  Buffalo    279557.0
63
                City  Population
373947  Indianapolis    773283.0
64
               City  Population
397410  Bloomington     81383.0
65
           City  Population
436678  Lahaina      9319.0
66
               City  Population
434625  Little Rock    184217.0
67
           City  Population
454766  Madison    224625.0
68
          City  Population
423371  Fresno    465183.0
69
           City  Population
409564  Raleigh    338759.0
70
          City  Population
125858  London   7421228.0
71
           City  Population
121338  Belfast    585994.0
72
            City  Population
130981  Brighton    139001.0
73
           City  Population
128662  Bristol    430714.0
74
           City  Population
130806  Cardiff    302142.0
75
             City  Population
118125  Edinburgh    435794.0
76
           City  Population
128661  Glasgow    610271.0
77
         City  Population
117473  Leeds    455124.0
78
             City  Population
125954  Liverpool    468946.0
79
              City  Population
125336  Manchester    395516.0
80
        City  Population
58162  Paris   2110694.0
81
            City  Population
70077  Marseille    792823.0
82
          City  Population
174683  Berlin   3398362.0
83
             City  Population
175772  Frankfurt    648034.0
84
           City  Population
148107  Hamburg   1733846.0
85
          City  Population
204223  Dublin   1024027.0
86
          City  Population
261456  Madrid   3102644.0
87
             City  Population
275676  Barcelona   1570378.0
88
             City  Population
253896  Amsterdam    745811.0
89
          City  Population
219949  Venice    259126.0
90
             City  Population
297081  Stockholm   1253309.0
91
          City  Population
318937  Zurich    346185.0
92
                 City  Population
20936  Rio de Janeiro   6023742.0
93
            City  Population
30722  São Paulo  10021437.0
94
        City  Population
239550  Oslo    808690.0
95
         City  Population
218054  Milan   1156903.0
96
        City  Population
231469  Rome   2643736.0
97
            City  Population
410630  San Juan    418140.0
98
             City  Population
256490  Singapore   3547809.0
99
              City  Population
337545  Providence    177595.0
100
          City  Population
419284  Helena     27340.0
101
         City  Population
400743  Dover     33286.0
102
              City  Population
360893  Charleston    104782.0
103
              City  Population
326494  Burlington     46921.0
104
            City  Population
442801  Cheyenne     55443.0
105
            City  Population
359343  Hartford    124019.0
106
              City  Population
125809  Birmingham    984336.0
107
         City  Population
382309  Fargo     92103.0
108
            City  Population
324617  Columbus    736836.0
109
        City  Population
348922  Napa     77015.0
110
             City  Population
398054  Iowa City     64170.0
111
       City  Population
89447  Nice    341621.0
112
               City  Population
96431  Saint-Tropez      4305.0
113
              City  Population
57714  Montpellier    238887.0
114
          City  Population
182946  Munich   1246133.0
115
         City  Population
228806  Turin    846489.0
116
            City  Population
232494  Florence    347194.0
117
          City  Population
229426  Naples    981284.0
118
           City  Population
224845  Palermo    669582.0
119
         City  Population
222853  Genoa    585815.0
120
           City  Population
225344  Bologna    367168.0
121
        City  Population
217723  Bari    303049.0
122
           City  Population
228496  Catania    307331.0
123
        City  Population
208790  Cork    188908.0
124
           City  Population
256995  Seville    686647.0
125
            City  Population
277616  Zaragoza    635509.0
126
              City  Population
281781  Las Palmas    365418.0
127
          City  Population
264317  Bilbao    349270.0
128
             City  Population
458255  Newcastle      9333.0
129
              City  Population
304254  Gothenburg    581822.0
130
             City  Population
250436  Eindhoven    210498.0
131
        City  Population
104908  Lyon    463700.0
132
           City  Population
84864  Toulouse    411145.0
133
             City  Population
74787  Strasbourg    273506.0
134
           City  Population
53351  Bordeaux    219311.0
135
          City  Population
103471  Nantes    284677.0
136
        City  Population
95935  Lille    189746.0
137
         City  Population
97678  Rennes    213334.0
138
           City  Population
34103  Brasília   2207812.0
139
            City  Population
259446  Valencia    769897.0
140
           City  Population
147621  Cologne    968823.0
141
             City  Population
188899  Nuremberg    497593.0
142
            City  Population
172219  Dortmund    594255.0
143
             City  Population
151960  Stuttgart    591688.0
144
              City  Population
201923  Düsseldorf    577139.0
145

          City  Population
140875  Bremen    546429.0
146
          City  Population
319284  Geneva    201818.0
147
        City  Population
317287  Bern    123018.0
148
          City  Population
461437  Tucson    545975.0
149

In [33]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(city_meta_df)

    location_id              city state/country country  Population
0           HOU           Houston            TX      US   2027712.0
1           MIA             Miami            FL      US    382894.0
2           STL         St. Louis            MO      US    320916.0
3           SFO     San Francisco            CA      US    732072.0
4           HNL          Honolulu            HI      US    384241.0
5           PDX          Portland            OR      US    540513.0
6           DEN            Denver            CO      US    555981.0
7           MSP       Minneapolis            MN      US    367773.0
8           SAN         San Diego            CA      US   1287050.0
9           SAT       San Antonio            TX      US   1256810.0
10          SEA           Seattle            WA      US    569369.0
11          LAS         Las Vegas            NV      US    540111.0
12          PHL      Philadelphia            PA      US   1453268.0
13          DFW            Dallas            TX      US   1211704.0
14          LAX       Los Angeles            CA      US   3877129.0
15          ATL           Atlanta            GA      US    422908.0
16          CHI           Chicago            IL      US   2841952.0
17          NYC     New York City            NY      US   8107916.0
18          SAV          Savannah            GA      US    126119.0
19          SDF        Louisville            KY      US    243639.0
20          ORL           Orlando            FL      US    207970.0
21          AUS            Austin            TX      US    678368.0
22          BWI         Baltimore            MD      US    610892.0
23          COS  Colorado Springs            CO      US    373072.0
24          BOI             Boise            ID      US    228790.0
25          DTT           Detroit            MI      US    884941.0
26          BOS            Boston            MA      US    571281.0
27          HVN         New Haven            CT      US    124922.0
28          MSY       New Orleans            LA      US    459336.0
29          PHX           Phoenix            AZ      US   1428509.0
30          SLC    Salt Lake City            UT      US    178026.0
31          WAS     Washington DC            US      US    702433.0
32          OAK           Oakland            CA      US    394579.0
33          TPA         Tampa Bay            FL      US    324465.0
34          PIT        Pittsburgh            PA      US    319494.0
35          MKC       Kansas City            MO      US    442028.0
36          MKE         Milwaukee            WI      US    579180.0
37          CLE         Cleveland            OH      US    449514.0
38          LUK        Cincinnati            OH      US    306382.0
39          BNA         Nashville            TN      US    530852.0
40          MEM           Memphis            TN      US    641608.0
41          ANC         Anchorage            AL      US    276263.0
42          OKC     Oklahoma City            OK      US    532950.0
43          SJC          San Jose            CA      US    897460.0
44          JAX      Jacksonville            FL      US    797557.0
45          CLT         Charlotte            NC      US    598351.0
46          YTO           Toronto            CA      CA   4612187.0
47          YVR         Vancouver            CA      CA   1837970.0
48          YMQ          Montreal            CA      CA   3268513.0
49          YOW            Ottawa            CA      CA    874433.0
50          YYC           Calgary            CA      CA    968475.0
51          YEG          Edmonton            CA      CA    822319.0
52          YHZ           Halifax            CA      CA    266012.0
53          SAC        Sacramento            CA      US    467898.0
54          RIC          Richmond            VA      US    190886.0
55          ABQ       Albuquerque            NM      US    487378.0
56          SAF          Santa Fe            NM      US     69205.0
57          ELP           El Paso            TX      US    597181.0
58          OMA             Omaha            NE      US    413487.0
59          EWR            Newark            NJ      US    280123.0
60          PCT         Princeton            NJ      US     12945.0
61          FLL   Fort Lauderdale            FL      US    170510.0
62          RNO              Reno            NV      US    202142.0
63          BUF           Buffalo            NY      US    279557.0
64          IND      Indianapolis            IN      US    773283.0
65          BMG       Bloomington            IN      US     81383.0
66          JHM           Lahaina            HI      US      9319.0
67          LIT       Little Rock            AR      US    184217.0
68          MSN           Madison            WI      US    224625.0
69          FAT            Fresno            CA      US    465183.0
70          RDU           Raleigh            NC      US    338759.0
71          LHR            London           ENG     ENG   7421228.0
72          BFS           Belfast           IRE     IRE    585994.0
73          ESH          Brighton           ENG     ENG    139001.0
74          BRS           Bristol           ENG     ENG    430714.0
75          CWL           Cardiff           WLS     WLS    302142.0
76          EDI         Edinburgh           SCT     SCT    435794.0
77          GLA           Glasgow           SCT     SCT    610271.0
78          LBA             Leeds           ENG     ENG    455124.0
79          LPL         Liverpool           ENG     ENG    468946.0
80          MAN        Manchester           ENG     ENG    395516.0
81          CDG             Paris           FRA     FRA   2110694.0
82          MRS         Marseille           FRA     FRA    792823.0
83          TXL            Berlin           DEU     DEU   3398362.0
84          FRA         Frankfurt           DEU     DEU    648034.0
85          HAM           Hamburg           DEU     DEU   1733846.0
86          DUB            Dublin           IRE     IRE   1024027.0
87          MAD            Madrid           ESP     ESP   3102644.0
88          BCN         Barcelona           ESP     ESP   1570378.0
89          AMS         Amsterdam           NLD     NLD    745811.0
90          VCE            Venice           ITA     ITA    259126.0
91          ARN         Stockholm           SWE     SWE   1253309.0
92          ZRH            Zurich           CHE     CHE    346185.0
93          SDU    Rio de Janeiro           BRA     BRA   6023742.0
94          GRU         São Paulo           BRA     BRA  10021437.0
95          OSL              Oslo           NOR     NOR    808690.0
96          MXP             Milan           ITA     ITA   1156903.0
97          FCO              Rome           ITA     ITA   2643736.0
98          SJU          San Juan           PRI     PRI    418140.0
99          SIN         Singapore           SGP     SGP   3547809.0
100         PVD        Providence            RI      US    177595.0
101         HLN            Helena            MT      US     27340.0
102         ILG             Dover            DE      US     33286.0
103         CHS        Charleston            SC      US    104782.0
104         BTV        Burlington            VT      US     46921.0
105         CYS          Cheyenne            WY      US     55443.0
106         BDL          Hartford            CT      US    124019.0
107         BHM        Birmingham            AL      US    984336.0
108         FAR             Fargo            ND      US     92103.0
109         CMH          Columbus            OH      US    736836.0
110         APC              Napa            CA      US     77015.0
111         IOW         Iowa City            IA      US     64170.0
112         NCE              Nice           FRA     FRA    341621.0
113         LTT      Saint-Tropez           FRA     FRA      4305.0
114         MPL       Montpellier           FRA     FRA    238887.0
115         MUC            Munich           DEU     DEU   1246133.0
116         TRN             Turin           ITA     ITA    846489.0
117         FLR          Florence           ITA     ITA    347194.0
118         NAP            Naples           ITA     ITA    981284.0
119         PMO           Palermo           ITA     ITA    669582.0
120         GOA             Genoa           ITA     ITA    585815.0
121         BLQ           Bologna           ITA     ITA    367168.0
122         BRI              Bari           ITA     ITA    303049.0
123         CTA           Catania           ITA     ITA    307331.0
124         ORK              Cork           IRE     IRE    188908.0
125         SVQ           Seville           ESP     ESP    686647.0
126         ZAZ          Zaragoza           ESP     ESP    635509.0
127         LPA        Las Palmas           ESP     ESP    365418.0
128         BIO            Bilbao           ESP     ESP    349270.0
129         NCL         Newcastle           ENG     ENG      9333.0
130         GOT        Gothenburg           SWE     SWE    581822.0
131         EIN         Eindhoven           NLD     NLD    210498.0
132         LYS              Lyon           FRA     FRA    463700.0
133         TLS          Toulouse           FRA     FRA    411145.0
134         SXB        Strasbourg           FRA     FRA    273506.0
135         BOD          Bordeaux           FRA     FRA    219311.0
136         NTE            Nantes           FRA     FRA    284677.0
137         LIL             Lille           FRA     FRA    189746.0
138         RNS            Rennes           FRA     FRA    213334.0
139         BSB          Brasília           BRA     BRA   2207812.0
140         VLC          Valencia           ESP     ESP    769897.0
141         CGN           Cologne           DEU     DEU    968823.0
142         NUE         Nuremberg           DEU     DEU    497593.0
143         DTM          Dortmund           DEU     DEU    594255.0
144         STR         Stuttgart           DEU     DEU    591688.0
145         DUS        Düsseldorf           DEU     DEU    577139.0
146         BRE            Bremen           DEU     DEU    546429.0
147         GVA            Geneva           CHE     CHE    201818.0
148         BRN              Bern           CHE     CHE    123018.0
149         TUS            Tucson           ARI      US    545975.0

In [34]:
city_meta_df.to_csv('mongoDB_population.csv', index=False)

In [35]:
mongo = MongoClient()
mongo_client = MongoClient('mongodb+srv://dbUser:adDJJ0ZG6O7VDdMz@softwarelabapp-hbwi6.mongodb.net/test?retryWrites=true&w=majority')
db = mongo_client.models
populations = db.populations
populations.delete_many({})

In [36]:
df = pd.read_csv("mongoDB_population.csv") #csv file which you want to import
records_ = df.to_dict(orient = 'records')
result = db.populations.insert_many(records_ )